<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arboles de Decisión</title>
</head>
<body>

    <center>
    <p style="font-size: 70px">
        <b>
            Pronóstico: Árboles de Decisión
        </b>   
    </p>
    </center>
    <h2>
        <p style="text-align:center">
            Variables posiblemente correlacionadas
        </p>
    </h2>
    
    <div style="text-align: center;">
        <image src="{{ url_for('static', filename='CorrPCA.jpg') }}" border="10"></image>
    </div>
    <h2>
        <p style="text-align:center">
            Se decide el número de componentes principales
        </p>
    </h2>
    <div style="text-align: center;">
        <image src="{{ url_for('static', filename='VarianzaAcumPCA1.jpg') }}" border="10"></image>
    </div>
    <h2>
        <p style="text-align:center">
            Análisis correlacional de datos: Evaluación visual
        </p>
    </h2>
    <div style="text-align: center;">
        <image src="{{ url_for('static', filename='Visual.jpg') }}" border="10"></image>
    </div>
    
    <br>
    <center>
    <p style="font-size: 30px">
        <a href="/">Página Principal</a>
    </p>
    </center>
</body>
</html>