<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafica de Dispersion</title>
</head>
<body>

    <center>
    <p style="font-size: 70px">
        <b>
            Gráfica de Dispersión
        </b>   
    </p>
    
    </center>
    <div style="text-align: center;">
        <image src="{{ url_for('static', filename='GraficoDisper.jpg') }}" border="10"></image>
    </div>
    <br>
    <center>
    <p style="font-size: 30px">
        <a href="/pca">Volver</a>
    </p>
    </center>
</body>
</html>