<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <center>
    <h1 class="text-center">
        Algoritmos de Minería de Datos
    </h1>
    <form action = "{{ url_for('predict') }}" method="POST">
        <input type = "submit" value = "Análisis Exploratorio de Datos">
    </form>
    <form action = "{{ url_for('pca') }}" method="POST">
        <input type = "submit" value = "Análisis de Componentes Principales">
    </form>
    <form action = "{{ url_for('ADecision') }}" method="POST">
        <input type = "submit" value = "Arboles de Decisión y Bosques Aleatorios">
    </form>

    <p style="font-size: 30px">
        <a href="/">Página Principal</a>
    </p>
    </center>
</body>
</html>